* {
  font-family: 'Courier New' !important;
}

.logo {
  padding-right: 5px;
  padding-left: 5px;
  background: black;
  border-radius: 5px;
}

.hero {
  padding: 0 30px;
}

.thumbnail {
  border-radius: 5px;
  width: 100%;
  filter: drop-shadow(0px 2px 3px black);
}
