.thumbnail {
  border-radius: 5px;
  width: 100%;
  filter: drop-shadow(0px 2px 10px black);
}

.logo {
  padding-right: 5px;
  padding-left: 5px;
  background: black;
  border-radius: 5px;
}

.hero {
  padding: 0 30px;
}

#outer {
    display: table;
}

#inner_fixed {
    height: 100px;

    display: table-row;
}

#inner_remaining {

    display: table-row;
}
